<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>TranscreveAI</string>
    <key>CFBundleDisplayName</key>
    <string>TranscreveAI</string>
    <key>CFBundleIdentifier</key>
    <string>com.workjoaoreis.transcreveai</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>TranscreveAI</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>
